body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  background: url('https://www.wallpaperhub.app/_next/image?url=https%3A%2F%2Fcdn.wallpaperhub.app%2Fcloudcache%2F0%2F5%2Ff%2F2%2Ff%2Ff%2F05f2fff651e2425a96e26c4e281a60f45e4dfdfe.jpg&w=4096&h=2160&q=100') center center fixed;
  background-size: cover;
}

/* Preloader */

#preloader {
  height: 100%;
  width: 100%;
  background: #1e91f3 url(/assests/preloader.gif) no-repeat center center;
  background-size: 30%;
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
}

#startBtn {
  margin-top: 60vh;
  margin-left: 13px;

  background-color: #346292;
  transition: background-color 0.3s;
  padding: 6px 10px;
  height: 35px;
  width: 100px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

#startBtn:hover {
  background-color: #2d537c;
}

/* Darkmode */

.dark-mode {
  background: url('https://gcdnb.pbrd.co/images/Z9PY1Skp0HPq.png?o=1') center center fixed;
  background-size: cover;
  color: black;
}

body.dark-mode .container {
  background-color: #525252; 

}

body.dark-mode h1 {
  color: white; 
  transition: color 0.3s;

}

body.dark-mode .todo-item {
  background-color: white; 

}

body.dark-mode .todo-item.completed {
  background-color: rgb(68, 68, 68); 

}


body.dark-mode .dark-mode-toggle {
background-color: #333;
color: #fff;

transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .dark-mode-toggle:hover {
background-color: #fff;
color: black;
transition-delay: 0.1s;
}


/* Dark Mode Ende */

.container {
  max-width: fit-content;
  margin: 50px auto;
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.input-container {
  display: flex;
  align-items: center;
}

input[type="text"],
input[type="date"],
button {
  margin-right: 10px;
}

input[type="text"],
input[type="date"] {
  padding: 8px;
  width: 150px;
}

input[type="date"] {
width: 150px;
height: 15px;
}

input[type="text"] {
width: 150px;
height: 15px;
}

button {
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #4d4d4d;
  border-color: white;
  border: solid;
  border-width: 1px;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #404040;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: medium;
  margin-left: 0px;
}

.todo-item span{
  margin-left: 20px;
}

.delete-btn {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 6px 10px;
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  margin-left: 200px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.delete-btn:hover {
  background-color: #d34343;
}

.delete-all-btn {
background-color: #ff5252;
color: #fff;
border: none;
padding: 6px 10px;
height: 35px;
cursor: pointer;
border-radius: 6px;
text-decoration: none;
transition: background-color 0.3s;
text-decoration: none;
}

.delete-all-btn:hover {
background-color: #d34343;
}

.todo-details {
  margin-left: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}

.todo-details span {
  margin-right: 20px;
  white-space: nowrap; /* Damit der Text nicht umbrochen wird */
}

.todo-item span.completed, .todo-details.completed {
  text-decoration:line-through;
  text-decoration-thickness: 2px;
}


.edit-btn {
  background-color: #4CAF50; /* Grün für den "Bearbeiten"-Button */
  color: white;
  padding: 6px 10px;
  height: 35px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  border: none;

}

.edit-btn:hover {
  background-color: #45a049; /* Dunkleres Grün im Hover-Zustand */
}


/* Darkmode Button */
.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  font-size: 24px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode-toggle:hover {
  background-color: #333;
  color: #fff;
}

.toggle-icon {
  user-select: none;
}

.downloadBtn {
  background-color: #4d8fd6;
  transition: background-color 0.3s;
  padding: 6px 10px;
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}

.downloadBtn:hover {
  background-color: #4179b5;
}

/* Load Button */

.loadBtn {
  background-color: white;
  position: fixed;
  width: 70px;
  height: 60px;
  top: 20px;
  left: 20px;
  border: none;

}

.loadBtn:hover {
  background-color: rgb(214, 213, 213);
}

.loadBtn img {
  margin-left: 4px;
  margin-top: 2px;
}

.todo-beschreibung {
  resize: none; /* Textfeld nicht skalierbar machen */
  margin-top: 10px;
  width: 705px;
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
}


.addBtn {
width: 110px;
font-size: 15px;
padding: 6px 10px;
height: 34px;
cursor: pointer;
border-radius: 6px;
border: solid;
border-width: 1px;
}

.todo-description-display {
margin-top: 75px;
margin-left: -500px;
}


.dropdown-menu {
cursor: pointer;
width: 168px;
height: 33px;
margin-right: 10px;
font-size: 15px
}

input, select {
border-radius: 5px;
border-width: 1px;
transition: background-color 0.3s;
font-size: 15px
}

input:hover, select:hover {
background-color: #f1f1f1;
}

/* Sortieren Datum*/

#sortieren {
  display: none;
  position: relative;
  background-color: #ffe7b7;
  padding: 10px;
  border-radius: 4px;
  margin-top: 1px;
  margin-left: 217px;
  width: 200px;
}

.sortierBtn {
  background-color: #db9915;
  color: #fff;
  border: none;
  padding: 6px 10px;
  height: 35px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s;
  text-decoration: none;
  }
  
  .sortierBtn:hover {
  background-color: #b78012;
  }

  #edit-name-img {
    cursor: pointer;
  }





  
/* Für Handys */
@media only screen and (max-width: 1070px) {
  body {
    background-size: cover;
  }

  .container {
    max-width: 100%;
    padding: 10px;
    margin-top: 100px;
  }

  .dark-mode-toggle {
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin-top: 10px;

  }

  .input-container {
    flex-direction: column;
  }

  input[type="text"],
  input[type="date"],
  button {
    width: 100%;
  }

  .todo-item {
    flex-direction: column;
    padding: 0, 0, 0, 0;
    text-align: center;
  }

  .todo-detials {
    flex: row;
  }

  input[type="text"], input[type="date"], button {
    width: 292px;
    justify-content: center;
    margin-top: 10px;
    margin-right: 0px;
  }

  #priority {
    margin-top: 10px;
    width: 310px;
    margin-left: 10px;
  }

  .dark-mode-toggle {
    margin-top: 20px;
  }

  .todo-details {
    width: 300px;
    flex-grow: 0;
    justify-content:space-evenly;
    gap: 0px;
    display: block;
  }


  .todo-item span {
    margin-left: -50px;
    margin: 20px;
    text-align: left;
    justify-content: left;
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    flex: row;
    font-size: larger;
  }
  
  span {
    margin: 0px, 0px, 0px, 0px;
  }

  .sortierBtn,
  .downloadBtn,
  .delete-all-btn {
    width: 100%;
    font-size: 14px;
    margin-left: 0px;
  }

  .dropdown-menu {
    width: 100%;
    font-size: 14px;
  }

  .todo-detials {
    font-size: small;
    width: fit-content;
  }

  #sortieren {
    margin-left: 0;
  }

  .loadBtn {
    width: 50px;
    height: 50px;
    left: 18px;
  }

  #uploadImg {
    margin-left: -1px;
    margin-top: -1px
  }

  .todo-description {
    width: 100%;
    font-size: 14px;
  }

  .todo-description-display {
    margin-left: 0;
    font-size: 14px;
  }

  .addBtn {
    width: 314px;
  }

  

  .sort-container {
    margin-top: 10px;
  }

  .sortierBtn,.delete-all-btn,.downloadBtn, .addBtn{
    margin-top: 10px;
  }

  .sortierBtn,.delete-all-btn,.downloadBtn {
    height: 50px;
  }

  .delete-btn {
    margin-left: 5px;
  }

  .delete-btn, .edit-btn {
    margin-top: 10px;
    height: 50px;
    margin-bottom: 10px;
  }

  input[type="checkbox"] {
    height: 20px;
    width: 20px;
  }

  .show-sort-menu {
    display: block;
  }

  #sortieren {
    width: auto;
  }

  #preloader {
    display: none
  }
}

